@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: ‘Noto Sans TC’, sans-serif;
}

.back{
    width: 10vw;
    height: 246vw;
    position: absolute;
}

/*第一排*/
.agi{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 50.5vw;
    top: 134vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/agi.jpg);
}
.agi:hover{
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-agi.jpg);
}

.lingshuan{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 71.5vw;
    top: 197vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lingshuan.jpg);
}
.lingshuan:hover{
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-lingshuan.jpg);
}

.ue{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 50.5vw;
    top: 71vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ue.jpg);
}
.ue:hover{
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-ue.jpg);
}

.fanjing{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 50.5vw;
    top: 8vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/fanjing.jpg);
}
.fanjing:hover{
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-fanjing.jpg);
}


/*第二排*/
.hokai{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 8.5vw;
    top: 197vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/hokai.jpg);
}
.hokai:hover{
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-hokai.jpg);
}

.kunpin{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 29.5vw;
    top: 197vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/kunpin.jpg);
}
.kunpin:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-kunpin.jpg);
}

.lan{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 71.5vw;
    top: 29vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lan.jpg);
}
.lan:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-lan.jpg);
}

.shun{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 8.5vw;
    top: 218vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/shun.jpg);
}
.shun:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-shun.jpg);
}


/*第三排*/
.yenchin{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 29.5vw;
    top: 50vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yenchin.jpg);
}
.yenchin:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-yenchin.jpg);
}

.yu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 71.5vw;
    top: 176vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yu.jpg);
}
.yu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-yu.jpg);
}

.zoe{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 71.5vw;
    top: 155vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zoe.jpg);
}
.zoe:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-zoe.jpg);
}

.chiahuei{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 29.5vw;
    top: 176vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/chiahuei.jpg);
}
.chiahuei:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-chiahuei.jpg);
}


/*第四排*/
.liangyu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 8.5vw;
    top: 176vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/liangyu.jpg);
}
.liangyu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-liangyu.jpg);
}

.mandyho{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 92vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/mandyho.jpg);
}
.mandyho:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-mandyho.jpg);
}

.rd{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 8vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/rd.jpg);
}
.rd:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-rd.jpg);
}

.yipei{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 50vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yipei.jpg);
}
.yipei:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-yipei.jpg);
}


/*第五排*/
.yulian{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 92vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yulian.jpg);
}
.yulian:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-yulian.jpg);
}

.cyu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 134vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/cyu.jpg);
}
.cyu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-cyu.jpg);
}

.snake{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 50vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/snake.jpg);
}
.snake:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-snake.jpg);
}

.ssu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 134vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ssu.jpg);
}
.ssu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-ssu.jpg);
}


/*第六排*/
.willi{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 29vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/willi.jpg);
}
.willi:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-willi.jpg);
}

.daub{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 71vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/daub.jpg);
}
.daub:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-daub.jpg);
}

.zhia{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 8vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zhia.jpg);
}
.zhia:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-zhia.jpg);
}

.miao{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 155vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/miao.jpg);
}
.miao:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-miao.jpg);
}

/*第七排*/
.cels{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 92vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/cels.jpg);
}
.cels:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-cels.jpg);
}

.fang{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 113vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/fang.jpg);
}
.fang:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-fang.jpg);
}

.ming{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 71vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ming.jpg);
}
.ming:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-ming.jpg);
}

.tg{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 176vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/tg.jpg);
}
.tg:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-tg.jpg);
}

/*第八排*/
.tone{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 29vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/tone.jpg);
}
.tone:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-tone.jpg);
}

.william{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 134vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/william.jpg);
}
.william:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-william.jpg);
}

.yin{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 92vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yin.jpg);
}
.yin:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-yin.jpg);
}

.yungga{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 218vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yungga.jpg);
}
.yungga:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-yungga.jpg);
}

/*第九排*/
.pei{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 218vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/pei.jpg);
}
.pei:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/05-pei.jpg);
}

.lo{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 218vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lo.jpg );
}
.lo:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-lo.jpg);
}

.weihuang{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 113vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/weihuang.jpg);
}
.weihuang:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-weihuang.jpg);
}

.yenchi{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 71.5vw;
    top: 50vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yenchi.jpg);
}
.yenchi:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-yenchi.jpg);
}

/*第十排*/
.ruying{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 29vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ruying.jpg);
}
.ruying:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-ruying.jpg);
}

.zhiyu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 71vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zhiyu.jpg);
}
.zhiyu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-zhiyu.jpg);
}

.kumlu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 8vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/kumlu.jpg);
}
.kumlu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/02-kumlu.jpg);
}

.yii{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 155vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yii.jpg);
}
.yii:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-yii.jpg);
}

/*第十一排*/
.wanglian{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 29.5vw;
    top: 155vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/wangliang.jpg);
}
.wanglian:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/03-wangliang.jpg);
}

.pazu{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 197vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/pazu.jpg);
}
.pazu:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-pazu.jpg);
}

.beryl{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 50.5vw;
    top: 113vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/beryl.jpg);
}
.beryl:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/04-beryl.jpg);
}

.jenny{
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 8.5vw;
    top: 113vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/jenny.jpg);
}
.jenny:hover{
        -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    background-image: url(../imgs/01-jenny.jpg);
}

