@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: ‘Noto Sans TC’, sans-serif;
}

.back{
    width: 10vw;
    height: 940vw;
    position: absolute;
}

/*第一排*/
.agi{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 553vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/agi.jpg);
}


.lingshuan{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 799vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lingshuan.jpg);
}


.ue{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 307vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ue.jpg);
}


.fanjing{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 61vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/fanjing.jpg);
}



/*第二排*/
.hokai{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 758vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/hokai.jpg);
}


.kunpin{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 758vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/kunpin.jpg);
}


.lan{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 143vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lan.jpg);
}


.shun{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 840vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/shun.jpg);
}



/*第三排*/
.yenchin{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 184vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yenchin.jpg);
}


.yu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 717vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yu.jpg);
}


.zoe{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 635vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zoe.jpg);
}


.chiahuei{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 51vw;
    top: 676vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/chiahuei.jpg);
}



/*第四排*/
.liangyu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    border: none;
    position: absolute;
    left: 10vw;
    top: 676vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/liangyu.jpg);
}


.mandyho{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 389vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/mandyho.jpg);
}


.rd{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 61vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/rd.jpg);
}


.yipei{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 184vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yipei.jpg);
}



/*第五排*/
.yulian{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 348vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yulian.jpg);
}


.cyu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 512vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/cyu.jpg);
}


.snake{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 225vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/snake.jpg);
}


.ssu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 512vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ssu.jpg);
}


/*第六排*/
.willi{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 102vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/willi.jpg);
}


.daub{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 307vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/daub.jpg);
}


.zhia{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 20vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zhia.jpg);
}


.miao{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 594vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/miao.jpg);
}


/*第七排*/
.cels{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 389vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/cels.jpg);
}


.fang{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 430vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/fang.jpg);
}


.ming{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 266vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ming.jpg);
}


.tg{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 717vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/tg.jpg);
}


/*第八排*/
.tone{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 102vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/tone.jpg);
}


.william{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 553vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/william.jpg);
}


.yin{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 348vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yin.jpg);
}


.yungga{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 840vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yungga.jpg);
}


/*第九排*/
.pei{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 881vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/pei.jpg);
}


.lo{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 881vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/lo.jpg );
}


.weihuang{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 471vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/weihuang.jpg);
}


.yenchi{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 225vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yenchi.jpg);
}


/*第十排*/
.ruying{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 143vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/ruying.jpg);
}


.zhiyu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 266vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/zhiyu.jpg);
}


.kumlu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 20vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/kumlu.jpg);
}


.yii{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 635vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/yii.jpg);
}


/*第十一排*/
.wanglian{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 51vw;
    top: 594vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/wangliang.jpg);
}


.pazu{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 799vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/pazu.jpg);
}


.beryl{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 471vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/beryl.jpg);
}


.jenny{
    width: 39vw;
    height: 39vw;
    margin: 0;
    padding: 0; 
    position: absolute;
    border: none;
    left: 10vw;
    top: 430vw;    
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/jenny.jpg);
}


