@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#wheel{
	position:absolute;
	z-index: 9999;
	width:80px;
	padding,margin: 0px;
}
.dr-menu {
	width: 210px;/*改menu-icon距離*/
	position: relative;
	top: 0;
	left: 15px;
	font-size: 1.3em;
	line-height: 2.5em;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 10px 0 0 0;
}

.dr-menu > div  {
	cursor: pointer;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.dr-menu > div .dr-icon {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 30px;
	line-height: 1.6;
	padding: 10px 20px;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: rgba(31, 43, 135, 1);
	left: 150px;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.dr-menu > div .dr-icon:after {
	content: "\e008";
	position: absolute;
	font-size: 20px;
	line-height: 2.45;
	left: -10px;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	/*padding-left: 3em;*/
	position: relative;
	display: block;
	
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2.75;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-label {
	-webkit-transform: translateY(-90%);
	-moz-transform: translateY(-90%);
	-ms-transform: translateY(-90%);
	transform: translateY(-90%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 3em 0 0;
	list-style: none;
	opacity: 0;
	position: relative;
	z-index: 0;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 205ms;
	-moz-transition: opacity 0s linear 205ms;
	transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
	/*background: black;*/
	margin,padding: 0;
}

.dr-menu ul li {
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
	-webkit-transition-delay: 70ms;
	-moz-transition-delay: 70ms;
	transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
	-webkit-transition-delay: 105ms;
	-moz-transition-delay: 105ms;
	transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
	-webkit-transition-delay: 140ms;
	-moz-transition-delay: 140ms;
	transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
	-webkit-transition-delay: 175ms;
	-moz-transition-delay: 175ms;
	transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
	-webkit-transition-delay: 205ms;
	-moz-transition-delay: 205ms;
	transition-delay: 205ms;
}

.dr-menu ul li a {
	display: inline-block;
	padding: 0 10px;
	margin: 0;
	color: #fff;
}

.dr-menu ul li a:hover {
	color: rgb(0,255,255);	
}

.dr-icon:before, 
.dr-icon:after {
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-icon-menu:before {
	content: "\e007";
}
/*menu's hight*/
.height{
	width: 140px;
	height: 70px;
	padding: 20px 0 0 0;/*改每個選項的距離*/
}
.dr-icon-switch{
	padding: 0;
}
#ch-hight{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#en-hight{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.p-height{
	line-height: 20px;
	margin: 0;
}

/*icons style*/
#icons{
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;	
    border:none;
    position: fixed;
    right: 10px;
    top: 10px;    
    z-index: 300;
    float: left;
}

.img{
    width: 50px;
    height: 50px;
    margin,padding: 0;
    border: none;
    float: left;
}

/*background-video*/
#indexback img{
	position: fixed;
	top: 0;
	left: 0;
	padding,margin: 0;
	border:none;
	z-index: -1;
	/*background-image: url(../imgs/indexback.jpg);*/
	-moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
#ib{
	width: 45vh;
	position: fixed;
	z-index: 0;
    left: 12vw;
    top: 5vw; 
}
.font-img{
	position: fixed;
	padding,margin: 0;
	border:none;
	z-index: 10;
	-moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
/*video[poster]{
height:100%;
width:100%;
}*/
.font-img1{
	width: 45vh;
	position: fixed;
	z-index: 0;
    left: 12vw;
    top: 5vw; 
}
.font-img2{
	width: 60vh;
	position: fixed;
	z-index: 0;
	right: 8vw;
    bottom: 5vw; 
}
/*#video{
	padding,margin: 0;
	position: fixed;
	left: 0;
	top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    min-width: 1366px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/

#video {
  position: fixed;
  top: 50%; 
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.container{
	margin,padding: 0;
}