@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
            height: 100%;
        }

body{
	font-family: ‘Noto Sans TC’, sans-serif;
}

.MENU{
	width: 1017px;
	height: 71px;
	position: relative;
	transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
	background-image: url(../imgs/blueline.png);
	margin-right: auto;
	margin-left: auto;
	margin-top: 58vh;
}

.backpic{
	margin: 0;
	padding: 0;
    width: 100%; 
    min-width: 1366px;
    min-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
}

.pointl{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 100vw;
	height: 33vh;
	top: 60px;
	left: 0vw;
	opacity: 0;
	z-index: 15;
}

.pointr{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 100vw;
	height: 40vh;
	bottom: 0px;
	left: 0vw;
	opacity: 0;
	z-index: 15;
}

.point{
	width: 1090px;
	height: 200px;
	position: absolute;
	margin-left: -36.5px;
	margin-top: -145px;
	background-color: black;
	opacity: 0.55;
	z-index: 30;
}

.butp{
	margin: 0;
    padding: 0; 
    color: white;
    border: none; 
    opacity: 0.6; 
    width: 100px; 
    height: 40px; 
    font-size: 18px; 
    font-weight: 350; 
    letter-spacing: 0.4vw; 
    background: none; 
    background-color: none; 
    left: 300px;
    z-index: 51;
}

.show{
	width: 1017px;
	height: 71px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -71px;
}


.one{
	width: 200px;
	height: 10px;
	opacity: 0;
	position: absolute;
	z-index: 2;
	margin-left: 14px;
	margin-top: 30px;
}
.one:hover ~.show{
	background-image: url(../imgs/blue1.png);
}
.one:hover ~.backpic{
	opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url(../imgs/oneback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}


.two{
	width: 30px;
	height: 30px;
	opacity: 0;
	position: absolute;
	margin-left: 242px;
	margin-top: 20px;
}
.two:hover ~.show{
	background-image: url(../imgs/blue2.png);
}
.two:hover ~.backpic{
	opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url(../imgs/twoback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.three{
	width: 30px;
	height: 30px;
	opacity: 0;
	position: absolute;
	margin-left: 424px;
	margin-top: 20px;
}
.three:hover ~.show{
	background-image: url(../imgs/blue3.png);
}
.three:hover ~.backpic{
	opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url(../imgs/threeback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.four{
	width: 200px;
	height: 10px;
	opacity: 0;
	position: absolute;
	margin-left: 582px;
	margin-top: 30px;
}
.four:hover ~.show{
	background-image: url(../imgs/blue4.png);
}
.four:hover ~.backpic{
	opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url(../imgs/fourback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.five{
	width: 200px;
	height: 10px;
	opacity: 0;
	position: absolute;
	margin-left: 803px;
	margin-top: 30px;
}
.five:hover ~.show{
	background-image: url(../imgs/blue5.png);
}
.five:hover ~.backpic{
	opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url(../imgs/fiveback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}