@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
	font-family: ‘Noto Sans TC’, sans-serif;
}

.MENU{
	margin: 0;
	padding: 0;
	width: 100%; 
    min-width: 70px;
    min-height: 100%; 
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: 10;
	background-image: url(../imgs/bluelinesmall.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}

.backpic{
	margin: 0;
	padding: 0;
	width: 100%; 
    min-width: 768px;
    min-height: 100%; 
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	z-index: -1;
	opacity: 0.15;
	background-image: url(../imgs/bgsmall.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.pointl{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 35vw;
	height: 80vh;
	top: 25vh;
	left: 0vw;
	opacity: 0;
	z-index: 15;
}

.pointr{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 35vw;
	height: 80vh;
	top: 25vh;
	right: 0vw;
	opacity: 0;
	z-index: 15;
}

.point{
	width: 70vw;
	height: 50vw;
	position: fixed;
	right: 15vw; 
	margin-top: 30vh;
	background-color: black;
	opacity: 0.6;
	z-index: 30;
}

.butp{
	margin: 0;
    padding: 0; 
    color: white; 
    border: none;
    opacity: 0.8; 
    width: 13vw; 
    height: 6vw; 
    font-size: 3vw; 
    font-weight: 300; 
    letter-spacing: 0.4vw; 
    background: none; 
    background-color: none; 
    margin-top: 10vw;
    left: 28.5vw;
    z-index: 51;
}


.show{
	margin: 0;
	padding: 0;
	width: 100%; 
    min-width: 70px;
    min-height: 100%; 
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}


.one{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 20vw;
	height: 16vh;
	opacity: 0;
	left: 40vw;
	top: 2vh;
	z-index: 12;
}
.one:hover ~.show{
	background-image: url(../imgs/blue1small.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}


.two{
	padding: 0;
    margin: 0;	
    position: fixed;
	height: 11vh;
	width: 20vw;
	opacity: 0;
	left: 40vw;
	top: 18vh;
	z-index: 12;
}
.two:hover ~.show{
	background-image: url(../imgs/blue2small.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}


.three{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 20vw;
	height: 11vh;
	opacity: 0;
	left: 40vw;
	top: 35vh;
	z-index: 12;
}
.three:hover ~.show{
	background-image: url(../imgs/blue3small.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}


.four{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 20vw;
	height: 16vh;
	opacity: 0;
	left: 40vw;
	top: 50vh;
	z-index: 12;
}
.four:hover ~.show{
	background-image: url(../imgs/blue4small.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}


.five{
	padding: 0;
    margin: 0;	
    position: fixed;
	width: 20vw;
	height: 16vh;
	opacity: 0;
	left: 40vw;
	top: 66vh;
	z-index: 12;
}
.five:hover ~.show{
	background-image: url(../imgs/blue5small.png);
	-moz-background-size: auto 80vh;
    -webkit-background-size: auto 80vh;
    -o-background-size: auto 80vh;
    background-size: auto 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
