body {
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background:rgba(31, 43, 135, 1);
	/*background:url(imags/.png);*/
}
/*#container{
	width: 100%;
	margin: 0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height: calc(100vh - 2rem);
}*/
#exa2{
	display: inline;
	/*without cama*/
}
#connect{
	/*float: right;*/
}
#side{
	width: 180;
	/*margin: 0;*/
	float: left;
}
a{
	color: black;
	text-decoration:none;
}
a:hover{
	color: white;
}
#btn_side{

}
.icons{
	/*align-items: left;*/
}
nav{
	margin:0 auto;
	
}