.height{
	width: 35vw;
	border: none;
	/*height: 70px;*/
	padding: 2vw 2vw 0 0;/*改每個選項的距離*/
	opacity: 0.8;
}

.p-height{
	line-height: 5vw;/*內行距*/
	margin: 0;
	padding: 2vw;
	opacity: 1;
	/*background: pink;*/
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: #00ffff;
	opacity: 0.8;
	left: 46vw;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
/*小箭頭*/
.dr-menu > div .dr-icon:after {
	content: "\e008";
	position: fixed;
	font-size: 3vw;
	line-height: 12.5vw;
	left: -1.3vw;
	opacity: 0;
}